{
  "datalake": {
    "url": "https://YOUR_STORAGE_ACCOUNT.dfs.core.windows.net/",
    "sas_token": "sv=2024-11-04&ss=bf&srt=sc&sp=rwdlaciytfx&se=EXPIRY_DATE&st=START_DATE&spr=https&sig=YOUR_SIGNATURE",
    "account_key": "YOUR_ACCOUNT_KEY"
  }
}
