{
  "simulator": {
    "default_rate": 1000,
    "batch_size": 100
  },
  "eventhub": {
    "namespace": "YOUR_NAMESPACE.servicebus.windows.net",
    "name": "claims-stream",
    "connection_string": "Endpoint=sb://YOUR_NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=YOUR_KEY_NAME;SharedAccessKey=YOUR_KEY;EntityPath=claims-stream",
    "consumer_group": "$Default"
  }
}
